@use '@angular/material' as mat;

$my-custom-level: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
